<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot='primary'>
      <ion-button routerLink='/search'>
        <ion-icon name='search' slot='icon-only'></ion-icon>
      </ion-button>
      <ion-button routerLink='/languages'>
        <ion-icon slot='icon-only' name='language-outline'></ion-icon>
      </ion-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-accordion-group>
    <ion-accordion *ngFor='let articleGroup of articleGroups$ | async'>
      <ion-item slot='header'>
        <ion-label> {{ articleGroup.key }}</ion-label>
      </ion-item>
      <ion-list slot='content'>
        <app-article-list-item
          [articles]="articleGroup.values"
          [showProgress]="visibleProgress$ | async"
          [readProgress]="progress$ | async"
          (openArticle)="openArticle()">
        </app-article-list-item>
      </ion-list>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
