<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-back-button [defaultHref]='"/react"'></ion-back-button>
    </ion-buttons>
    <ion-buttons slot='primary'>
      <ion-button (click)='decreaseFontSize()'>
        <ion-icon name='remove-outline' slot='icon-only'></ion-icon>
      </ion-button>
      <ion-button (click)='increaseFontSize()'>
        <ion-icon name='add-outline' slot='icon-only'></ion-icon>
      </ion-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ (article$ | async).key }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-article-render
    [html]='article$ | async'
    (click)='getRoute($event)'
    [ngStyle]="{'font-size': (fontSize | async).toString() + 'rem'}"
  >
  </app-article-render>
</ion-content>
<ion-footer>
  <ion-toolbar *ngIf='navButtonsState | async'>
    <app-article-navigation-toolbar
      [article]="article$ | async"
      [readProgress]="progress | async"
      [showProgress]="showProgress | async">
    </app-article-navigation-toolbar>
  </ion-toolbar>
</ion-footer>
