<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-back-button [defaultHref]='"/react"'></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'app-language' | translate }} ({{ currentLang | async }})</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]='true'>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor='let lang of data | async' size='6'>
        <app-card
          (changeLanguage)='changeLanguage($event)'
          [imagePath]="'shared/assets/flags/' + lang.abbr + '.svg'"
          [language]='lang.abbr'
          [message]='lang.englishName'
          [selected]='(currentLang | async) === lang.abbr'
        ></app-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
