<ion-header>
    <ion-toolbar>
        <ion-buttons slot='start'>
            <ion-back-button [defaultHref]='"/react"'></ion-back-button>
        </ion-buttons>
        <ion-title>{{ 'my-apps' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]='true'>
    <ion-grid>
        <ion-row>
            <ion-col>
                <app-card
                        [imagePath]="'../../../assets/icon/react.svg'"
                        [message]="'React'"
                        href='https://play.google.com/store/apps/details?id=dev.misha98857.react_article'
                ></app-card>
            </ion-col>
            <ion-col>
                <app-card
                        [imagePath]="'../../../assets/icon/vue.svg'"
                        [message]="'Vue'"
                        href='https://play.google.com/store/apps/details?id=dev.misha98857.vue_article'>
                </app-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col *ngIf='isRussianLanguage()'>
                <app-card
                        [imagePath]="'../../../assets/icon/frontend.svg'"
                        [message]="'Справочник фронтендера'"
                        href='https://play.google.com/store/apps/details?id=dev.misha98857.react'>
                </app-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
