<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-back-button [defaultHref]='"/react"'></ion-back-button>
    </ion-buttons>
    <ion-buttons slot='primary'>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-searchbar (ionChange)='searchText($event)' [placeholder]="'search' | translate"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" id='main'>
  <ion-accordion-group>
    <ion-accordion *ngFor='let articleGroup of articleGroups$ | async'>
      <ion-item slot='header'>
        <ion-label> {{ articleGroup.key }}</ion-label>
      </ion-item>
      <ion-list slot='content'>
        <app-article-list-item
          [articles]="articleGroup.values"
          [showProgress]="visibleProgress | async"
          [readProgress]="progress | async"
          (openArticle)="openArticleWithSearch()"
        >
        </app-article-list-item>
      </ion-list>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
