<ion-tabs>
  <ion-tab-bar slot='bottom'>
    <ion-tab-button [routerLink]='article.nav[0]'>
      <ion-icon class='nav-icon' name='arrow-back-circle-outline'></ion-icon>
    </ion-tab-button>
    @if (showProgress) {
      @switch ((readProgress?.[article.key] ?? 0).toFixed(0)) {
        @case ('100') {
          <ion-badge color='success'>100%</ion-badge>
        }
        @case ('0') {
          <ion-badge color='light'>0%</ion-badge>
        }
        @default {
          <ion-badge color='primary'>{{ readProgress[article.key].toFixed(0) }}%</ion-badge>
        }
      }
    }
    <ion-tab-button [routerLink]='article.nav[1]'>
      <ion-icon class='nav-icon' name='arrow-forward-circle-outline'></ion-icon>
      <ion-label></ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
