<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-back-button [defaultHref]='"/react"'></ion-back-button>
    </ion-buttons>
    <ion-title>Ошибка</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <div class='text'>
      Привет. Большое спасибо за тестирование приложения.<br />
      Сейчас, во время бета-теста, возможно будет большое количество ошибок и не реализованного функционала, но я стараюсь сделать так,
      чтобы всё было сделано хорошо.<br />
      <br />
      Если хочешь помочь, то можешь написать, как ты попал на эту страницу и откуда.<br /><br />
      Связь со мной:
      <ion-list>
        <ion-item><a href='mailto:error@misha98857.dev'>Почта</a></ion-item>
        <ion-item><a href='https://vk.com/dev_misha98857'>VK</a></ion-item>
      </ion-list>
      Большое спасибо за использование приложения!
    </div>
    <p>English</p>
    <div class='text'>
      Hey. Thank you very much for testing the application. <br />
      Now, during the beta test, there may be a large number of errors and not implemented functionality, but I am trying to do so, to do
      well. <br />
      <br />
      If you want to help, you can write how you got to this page and from where. <br />
      <br />
      Contact me:
      <ion-list>
        <ion-item><a href='mailto:error@misha98857.dev'>Mail</a></ion-item>
        <ion-item><a href='https://vk.com/dev_misha98857'>VK</a></ion-item>
      </ion-list>
    </div>
  </ion-grid>
</ion-content>
