<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-back-button [defaultHref]='"/react"'></ion-back-button>
    </ion-buttons>
    <ion-title>Error</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <p>English</p>
    <div class='text'>
      Hey. Thank you very much for testing the application. <br />
      Now, during the beta test, there may be a large number of errors and not implemented functionality, but I am
      trying to do so, to do well.
      <br />
      <br />
      If you want to help, you can write how you got to this page and from where. <br />
      <br />
      Contact me:
      <ion-list>
        <ion-item><a href='mailto:cataha319@gmail.com'>Mail</a></ion-item>
      </ion-list>
    </div>
  </ion-grid>
</ion-content>
