@for (article of articles; track article.key) {
  <ion-item [routerLink]='[article.path]' (click)='onOpenArticle()'>
    <ion-label>{{ article.key }}</ion-label>
    @if (showProgress) {
      @switch ((readProgress?.[article.key] ?? 0).toFixed(0)) {
        @case ('100') {
          <ion-badge color='success'>100%</ion-badge>
        }
        @case ('0') {
          <ion-badge color='light'>0%</ion-badge>
        }
        @default {
          <ion-badge color='primary'>{{ readProgress[article.key].toFixed(0) }}%</ion-badge>
        }
      }
    }
  </ion-item>
}
